@use "./variables" as *;

$fontSize: 1rem;
$gapSize: 0.75rem;
$radiusSize: 10px;

.dropdown {
  position: relative;
  width: fit-content;
  margin: 0 auto;
  font-size: $fontSize;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;

  &-btn {
    position: relative;

    display: flex;
    align-items: center;
    padding: $gapSize;

    background-color: $accent;
    box-shadow: $shadow;
    border-radius: $radiusSize;
    border: 2px solid;
    border-color: transparent;
    transition:
      background-color 0.2s ease,
      border-color 0.2s ease;

    cursor: pointer;

    &-icon {
      position: relative;
      margin-left: $gapSize;
      width: $fontSize * 1.3;
      height: $fontSize * 1.3;

      svg {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &.opened {
      background-color: $accent-border;
      border-color: $accent;
    }

    &-backdrop {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;

      background-color: $text-h;
      border-radius: $radiusSize * 0.8;
      z-index: -1;
    }
  }

  &-content {
    position: absolute;
    min-width: 97.5%;
    max-height: 40vh;

    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: $radiusSize;

    border-radius: $radiusSize;
    background-color: $text-h;
    box-shadow: $shadow;
    border: 2px solid;
    border-color: $accent;

    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;

    // cursor: pointer;
    visibility: hidden;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }

    &.opened {
      visibility: visible;
    }

    &-item {
      min-width: 100%;

      padding: $gapSize 0;

      background-color: $accent;
      transition: background-color 0.2s ease;

      &:hover {
        background-color: $accent-border;
      }
    }
  }
}
